<div class="dash-header row">
    <h2 class="dash-header">Stipple Plotly Gallery</h2>
</div>

<div class="row">
    <blockquote>WIP - Plots using <a href="https://github.com/JuliaComputing/PlotlyLight.jl">PlotlyLight.jl</a>
    </blockquote>
</div>

<div class="row menu">
    <h2>PlotlyLight.jl</h2>
</div>
<!-- <div class="row justify-evenly"> -->
<div class="col-3">
    <!-- {{plt_1}} -->
    $(model.plt_1[])
</div>
<div class="col-3 col-md-3">
    <!-- {{plt_2}} -->
    $(model.plt_2[])
</div>
<!-- </div> -->