<div class="dash-header row">
    <h2 class="dash-header">Stipple Plotly Gallery</h2>
</div>

<div class="dash-body">

    <div class="row menu">
        <div class="col-sm-4">
            <q-btn v-on:click="btn1 = !btn1" color="positive" label="RESET" />
        </div>
    </div>

    <div class="row menu">
        <div class="col-sm-4">
            <h4>Plots.jl</h4>
            <q-img :src="plt_static_1" spinner-color="white" style="height: auto; max-width: auto" />
        </div>
        <div class="col-sm-4">
            <h4>Makie.jl</h4>
            <q-img :src="plt_static_2" spinner-color="white" style="height: auto; max-width: auto" />
        </div>
    </div>

    <div class="row menu">
        <h2>StipplePlotly.jl</h2>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <plotly :data="plt_1_data" :layout="plt_1_layout"></plotly>
        </div>
        <div class="col-sm-4">
            <plotly :data="plt_1_data" :layout="plt_1_layout" :responsive=true :editable=false :scroll-zoom=false
                :static-plot=false :display-mode-bar=false :displaylogo=false
                :to-image-button-options={'filename':'newplot','height':500,'format':'png','scale':1,'width':700}>
            </plotly>
        </div>
        <div class="col-sm-4">
            <plotly :data="plt_1_data" :layout="plt_1_layout" :static-plot=true></plotly>
        </div>
    </div>

</div>