<div class="dash-header row">
    <h2 class="dash-header">Stipple Plotly Gallery</h2>
</div>

<div class="dash-body">

    <div class="row">
        <div class="col-sm-4">
        </div>
    </div>

    <div class="row">
        <blockquote>WIP - Plots using <a href="https://github.com/JuliaComputing/PlotlyLight.jl">PlotlyLight.jl</a>
        </blockquote>
    </div>

    <div class="row menu">
        <h2>StipplePlotly.jl</h2>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <plotly :data="plt_1_data" :layout="plt_1_layout"></plotly>
        </div>
        <div class="col-sm-4">
            <plotly :data="plt_1_data" :layout="plt_1_layout" :responsive=true :editable=false :scroll-zoom=false
                :static-plot=false :display-mode-bar=false :displaylogo=false
                :to-image-button-options={'filename':'newplot','height':500,'format':'png','scale':1,'width':700}>
            </plotly>
        </div>
        <div class="col-sm-4">
            <plotly :data="plt_1_data" :layout="plt_1_layout" :static-plot=true></plotly>
        </div>
    </div>

    <div class="row menu">
        <h2>PlotlyLight.jl</h2>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <plotly :data="plt_2_data" :layout="plt_2_layout"></plotly>
        </div>
        <div class="col-sm-4">
            <plotly :data="plt_3_data" :layout="plt_3_layout"></plotly>
        </div>
        <div class="col-sm-4">
        </div>
    </div>

    <div class="row menu">
        <h2>PlotlyLight.jl v2</h2>
        <q-btn v-on:click="btn1 = !btn1" color="positive" label="Positive" />
    </div>
    <div class="row">
        <div class="col-sm-4">
            $(model.plt_1[])
        </div>
    </div>
</div>