<!-- <!DOCTYPE html> -->
<html>

<head>
    <title>Hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>

<body class style>
    <div id="Name" class="container">
        <h1>Allo</h1>
    </div>
    <!-- <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet" />
    <link href="/stipple.jl/master/assets/css/stipplecore.css" rel="stylesheet" />
    <script>window.CHANNEL = 'PSAOGMWYZZGQJIVYCSZLIBCJRACTOOUG';</script>
    <script src="/genie.jl/master/assets/js/channels.js"></script>
    <script src="/stipple.jl/master/assets/js/underscore-min.js"></script>
    <script src="/stipple.jl/master/assets/js/vue.js"></script>
    <script src="/stipple.jl/master/assets/js/stipplecore.js"></script>
    <script src="/stipple.jl/master/assets/js/vue_filters.js" defer></script>
    <script src="/stipple.jl/master/assets/js/watchers.js"></script>
    <script src="/stipple.jl/master/assets/js/keepalive.js" defer></script>
    <script src="/stipple.jl/master/assets/js/name.js" defer></script> -->
</body>

</html>