<%
page(
	vm(model), partial=true, core_theme=true, class="container-fluid", [

	Html.div(class="col-md-3 px-5 py-3", [
		p([
			"Input: "
			input("", @bind(:input), @on("keyup.enter", "process = true"))
			# numberfield("Input", :input, @on("keyup.enter", "process = true"))
		])
		p([
			button("UPDATE", @click("process = true"))
		])
		p([
		span("", @text(:hist))
		])
	])

	Html.div(class="row px-3 py-3", [
		Html.div(class="col-md-6 px-3", [
			cell([
				# intersection([
				plot(:hist_plot_data; options=:hist_plot_opts, height=200)
				# ])
			])
		])
		Html.div(class="col-md-6 px-3", [
			cell([
				# intersection([
				plot(:hist_plot_data; options=:hist_plot_opts, height=200)
				# ])
			])
		])
	])

	])
%>

